.input{
   border: none; 
   width: 95%;
   box-shadow: none;
   
}
*:focus {
   outline: none;
}

.border{
   width: 260px;
   box-sizing: border-box;
   border:  1px solid #ababab;
   padding: 5px;
   border-radius: 2px;
}
.border :focus{
   
}
