:root{
    --background-color:#fafafa;
}

.loginPage{
    background-color: var(--background-color);
}


.footerSignLog {
    border: 1px solid black;
}
.instaMobile {
    background: url('../../images/instabackground.png');
    background-size:400px 610px;
    background-repeat: no-repeat; 
padding: 10px;
}
.wrapper{
    gap:30px
}
.mobileImg{
margin-left :125px;
margin-right:20px;
margin-top: 12px;
height: 525px;
width: 215px;

}

.formDiv{
    border: 1px solid black;
    height:581px;
    display:flex;
    justify-content: flex-start;
    
}

.mobilewrapper{
    display: flex;

    justify-content: flex-end;
    align-items: center;

}
.wrapper{
    display:flex;
margin-left:20px;
margin-right:20px;
    margin-top: 50px;

    flex-direction: row;
    width:90%;
    justify-content: center;

}


@media  screen and (max-width:870px) {
    .mobilewrapper{
        display:none;
    }
    
}